In [41]:

import pandas as pd
from data_fetch import api_request
from datetime import date, timedelta


TICKERS = ["SBER", "GAZP", "LKOH", "ROSN", "GMKN", "NVTK", "TATN"]

#Вычисляем вчерашнюю дату
yesterday = date.today() - timedelta(days=1)
# приводим к строке в формате YYYY-MM-DD
YEST = yesterday.isoformat()

# последняя цена закрытия для каждой акции
rows = []
for t in TICKERS:
    df = api_request(t, YEST, YEST)
    price = df["close"].iloc[-1]
    rows.append({"Name": t, "Price" : price})
last_prices = pd.DataFrame(rows)

## Выводим цену акций в момент закрытия торгов во вчерашний день

In [42]:

display(last_prices)

   Name    Price
0  SBER   298.70
1  GAZP   127.41
2  LKOH  6486.00
3  ROSN   413.65
4  GMKN   101.34
5  NVTK  1040.60
6  TATN   680.10